/*the container has a fixed position and is adaptable to different screen sizes */
#container{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

/*The uppermost and lowermost containers have absolute positionscoupled
  with fixed height so they do not change due to the scaling of the screen*/
#upper_div{
    height: 40px;
    width: 100%;
    background-color: rgb(5, 155, 255);
    position: absolute;
    z-index: 5;
}

/*The middlepart div has a height in percentages since it will dinamically scale with the screen height*/
#map{
    height: 100%;
    width: 100%;
    background-color: rgb(179, 247, 179);
}

/*In addition to the uppermost div container, it has a bottom fixed in order to remain at its position */
#lower_div{
    height: 40px;
    width: 100%;
    background-color: rgb(5, 155, 255);
    bottom: 0px;
    position:absolute;
}

/*Title, positioned in the center of its parent div*/
#upper_div_text{
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 25%;
    font-size: 20px;
    font: georgia;

}

.overlay-container{
    background-color: rgb(224, 86, 86);
    width: 100px;
    color: #fff;
    text-align: left;
    border-radius: 1px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
  }

.overlay-text{
    font-size: 12px;
    font-family:'Times New Roman';
}

